@charset "utf-8";
#form {
	border-top-color: #96F;
	border-right-color: #96F;
	border-bottom-color: #96F;
	border-left-color: #96F;
	padding-top: 50px;
	padding-right: 100px;
	padding-bottom: 50px;
	padding-left: 100px;
	margin-top: 50px;
	margin-right: 100px;
	margin-bottom: 50px;
	margin-left: 100px;
	background-color: #9CF;
}
